html {
    background-color: darkgreen;
    height: 100%;
}

body {
    margin: 0;
    height: 100vh
}

.container {
    width: 90%;
    margin:  0 auto 0 auto;
    background-color: forestgreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    height:100px;
    margin: 0;
}

nav {
    display: block;
    width: 99%;
    height: 100%;
    margin: 0;

}

nav img {
    float: left;
    height: 90px;
    padding-right: 1em;
    padding-left: 1em;
    display: block;
    margin: auto;
    justify-content: center;
}

nav ul {
    display: flex;
    top: 30px;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
    justify-content: space-around;
    background-color: goldenrod;
    position: relative;
    border: 3px black solid;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}

nav li {
    padding: 10px;
}

li:hover {
    background-color: forestgreen;
    border-radius: 5px;
    opacity: .75;
}

p {
    user-select: none;
}

hr {
    width: 75%;
    border: solid 1px black;
}

.slider {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    margin: 0;
    font-size: 20px;
}

input {
    margin: 10px;
    /* padding: 1em; */
    text-align: right;
}

form {
    font-size: 12px;
}

.form {
    width: 200px;
}

fieldset {
    border-color: black;
}

output {
    background-color: goldenrod;
    padding: 0.25em;
    border: 2px solid black;
    border-radius: 5px 5px 5px 5px;
}